@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

/* Custom Properties */

:root {
  /* Primary Color */
  --clr-primary-blue: hsl(220, 98%, 61%);
  --clr-primary-check-bg: linear-gradient(
    hsl(192, 100%, 67%) to hsl(280, 87%, 65%)
  );

  /* Neutral - Light Theme */
  --clr-light-1: hsl(0, 0%, 98%);
  --clr-light-2: hsl(236, 33%, 92%);
  --clr-light-3: hsl(233, 11%, 84%);
  --clr-light-4: hsl(236, 9%, 61%);
  --clr-light-5: hsl(235, 19%, 35%);

  /* Neutral - dark Theme */
  --clr-dark-1: hsl(235, 21%, 11%);
  --clr-dark-2: hsl(235, 24%, 19%);
  --clr-dark-3: hsl(234, 39%, 85%);
  --clr-dark-4: hsl(236, 33%, 92%);
  --clr-dark-5: hsl(234, 11%, 52%);
  --clr-dark-6: hsl(233, 14%, 35%);
  --clr-dark-7: hsl(237, 14%, 26%);

  /* Typography */
  --fw-regular: 400;
  --fw-bold: 700;
}

/* General style */

body {
  margin: 0;

  font-size: 18px;

  background-color: #fafafa;
  position: relative;
}

body,
.header,
.header::before,
.todo-input-container,
.todo-list-container,
.todo-list-state-container,
.todo-list-categories {
  transition: all 0.5s ease;
}

body.light {
  background-color: var(--clr-light-1);
}

body.dark {
  background-color: var(--clr-dark-1);
}

input,
button {
  border: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

/* Header */

.header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  margin: 0 1.25em;

  height: 110px;
}

.header::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 240px;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

body.dark .header::before {
  background-image: url('/images/bg-mobile-dark.jpg');
}

body.light .header::before {
  background-image: url('/images/bg-mobile-light.jpg');
}

.title {
  font-size: 1.75rem;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: white;
}

.header span {
  background-repeat: no-repeat;
  background-position: center;

  width: 50px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

body.dark .header span {
  background-image: url(/images/icon-sun.svg);
}

body.light .header span {
  background-image: url(/images/icon-moon.svg);
}

/* Create Todo input */

.todo-input-container {
  height: 55px;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: var(--primary-color-1);

  padding: 0px 20px;
  margin: 0 1.25em;

  border-radius: 5px;
}

body.dark .todo-input-container {
  background-color: var(--clr-dark-2);
}

body.light .todo-input-container {
  background-color: white;
}

.todo-add-input {
  background: transparent;

  width: 100%;
  height: 90%;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.02rem;

  outline: none;
}

/* Todo list */
.todo-list-container {
  font-family: inherit;
  border-radius: 5px;
  margin: 1em 1.25em;
  position: relative;
}

body.dark .todo-list-container {
  background-color: var(--clr-dark-2);
  color: var(--clr-dark-3);
}

body.light .todo-list-container {
  background-color: white;
  color: var(--clr-light-5);
  /* box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.1); */
}

.todo-list-item {
  height: 55px;
  position: relative;

  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding: 1em 20px;
}

body.dark .todo-list-item {
  border-bottom: 1px solid var(--clr-dark-6);
}

body.light .todo-list-item {
  border-bottom: 1px solid var(--clr-light-2);
}

.check-button,
.static-check-button {
  min-width: 30px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  margin-right: 20px;

  transition: border 0.2s ease;

  user-select: none;
}

.check-button:hover {
  border: 1px solid hsl(280, 87%, 65%) !important;

  cursor: pointer;
}

.check-button img {
  opacity: 0%;
}

.todo-list-item.completed .check-button img {
  opacity: 100%;
}

.todo-list-item.completed .check-button {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  border: none !important;
}

body.dark .check-button,
body.dark .static-check-button {
  border: 1px solid var(--dark-color-7);
}

body.light .check-button,
body.light .static-check-button {
  border: 1px solid var(--light-color-3);
}

.todo-text {
  margin: 20px 30px 20px 0;
}

.delete-btn {
  position: absolute;
  background-color: transparent;

  right: 20px;
  top: 20%;
  bottom: 21.07%;
  cursor: pointer;
  padding: 0;
}

.delete-btn img {
  width: 12px;
}

.todo-list-state-container {
  font-size: 0.9rem;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  border-radius: 5px;
  font-weight: 400;
}

.todo-list-categories {
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;

  width: 100%;
  border-radius: 5px;
}

body.dark .todo-list-categories,
body.dark .todo-list-state-container {
  background-color: var(--clr-dark-2);
  color: var(--clr-dark-6);
}

body.light .todo-list-categories,
body.light .todo-list-state-container {
  background-color: white;
  color: var(--clr-light-4);
  box-shadow: 0px 35px 40px -15px rgba(8, 8, 8, 0.1);
}

.todo-list-filter {
  cursor: pointer;
}

.todo-list-filter:hover,
.todo-list-filter:focus,
.clear-btn:hover {
  color: var(--clr-primary-blue);
}

.todo-list-filter + .todo-list-filter {
  margin-left: 1.5em;
}

.clear-btn {
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 0.9rem;

  margin: 9em auto;
}

.attribution {
  position: fixed;
  width: 100%;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body.dark .footer,
body.dark .attribution {
  color: var(--clr-dark-6);
}

body.light .footer,
body.light .attribution {
  color: var(--clr-light-4);
}

@media screen and (min-width: 600px) {
  body {
    min-height: 100vh;
  }

  .header,
  .todo-input-container,
  .todo-list-container,
  .todo-list-state-container,
  .todo-list-categories {
    max-width: 700px;
    margin: auto;
  }

  .header::before {
    width: 100vw;
    height: 200px;
    background-size: cover;
  }

  body.dark .header::before {
    background-image: url('/images/bg-desktop-dark.jpg');
  }

  body.light .header::before {
    background-image: url('/images/bg-desktop-light.jpg');
  }

  .todo-input-container {
    margin-bottom: 1em;
  }

  .todo-add-input,
  .todo-text {
    font-size: 1.1rem;
  }

  .todo-list-state-container {
    height: 55px;
  }

  .todo-list-categories {
    bottom: 0;
    width: 40%;
  }

  .footer {
    margin: 4em;
  }
}
